<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhidian.mapper.PaCountMapper">


	<insert id="insertPaCountsForPageService01SimplePaCount"
		parameterType="PaCount">
		insert into paCounts set uuid =
		#{uuid},name=#{name},url=#{url},createTime =
		CURRENT_TIMESTAMP(),createMan=#{createMan},type=#{type},originUrl=#{originUrl},originIp=#{originIp};
	</insert>

	<select id="queryPaCountsForPageService01SimplePaCount" resultType="PaCount" parameterType="PaCount">
		select * from paCounts where name = #{website} and url = #{url} and
		uuid = #{uuid} and type = #{type} and status = 0 and
		<choose>
			<when test="account ==null or account == ''">
				originUrl = #{originUrl} and originIp = #{originIp}
			</when>
			<otherwise>
				createMan = #{account}
			</otherwise>
		</choose>
		group by createTime desc limit 1
	</select>

</mapper>
