<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhidian.mapper.PullArticleMapper">

	<insert id="insertArticlesForWormsService02ListPullArticle"
		parameterType="PullArticle">
		insert into
		pullArticles(uuid,title,contents,resultContent,pagePath,cssPath,name,sign,startTime,websiteId,url,cuuid,status,type)
		values
		<trim suffixOverrides=",">
			<foreach collection="list" index="i" separator="," item="item">
				(#{item.uuid},#{item.title},#{item.contents},#{item.resultContent},#{item.pagePath},#{item.cssPath},#{item.name},#{item.sign},#{item.startTime},#{item.websiteId},#{item.url},#{item.cuuid},#{item.status},#{item.type})
			</foreach>
		</trim>
	</insert>

	<select id="queryPullArticlesForPullArticleService01SimplePullArticle"
		parameterType="string" resultType="PullArticle">
		select * from pullArticles where
		uuid = #{uuid} and pullArticles.using = 1 and pullArticles.status = 0
		group by startTime desc limit 1;
	</select>

	<select id="selectPullArticlesForPullArticleService01MapObject"
		parameterType="string" resultType="hashmap">
		select name,url from
		pullArticles
		where
		uuid = #{uuid} and pullArticles.using = 1 and
		pullArticles.status
		= 0
		group by startTime desc limit 1;
	</select>

	<select id="tee" parameterType="hashmap" resultType="string">
		select url
		from pullArticles where uuid = #{uuid} and name = #{name};
	</select>


	<select id="queryPullArticlesForAdminInfoSupportServcie01ListPullArticle"
		resultType="PullArticle">
		select * from pullArticles where pullArticles.using = 1;
	</select>

	<select
		id="queryPullArticlesForAdminInfoSupportServcie01SimplePullArticleBO"
		resultType="PullArticleBO">
		select * from pullArticles where name = #{name} and id =
		#{id} and status = 0;
	</select>

	<select
		id="queryPullArticlesForAdminMainSupportServiceSimplePullArticleBO"
		resultType="PullArticleBO">
		select * from pullArticles where name = #{name} and id =
		#{id} and status = 0;
	</select>

	<select
		id="queryPullArticlesForAdminInfoSupportServcie01SimplePullArticle"
		resultType="PullArticle">
		select * from pullArticles where name = #{name} and id =
		#{id} and status = 0;
	</select>

	<select id="queryPullArticlesForAdminMainSupportServiceSimplePullArticle"
		resultType="PullArticle">
		select * from pullArticles where name = #{name} and id =
		#{id} and status = 0;
	</select>

	<select id="queryPullArticlesForAdminInfoSupportServcie02ListPullArticle"
		resultType="PullArticle">
		select * from pullArticles where name = #{name} and status = 0
		<if test="startTime!=null">
			and startTime &gt;= #{startTime}
		</if>
		<if test="endTime!=null">
			and startTime &lt;= #{endTime}
		</if>
	</select>

	<select id="queryPullArticlesForAdminInfoSupportServcie03ListPullArticle"
		resultType="PullArticle">
		select * from pullArticles where url = #{url} and status = 0
		<if test="startTime!=null">
			and startTime &gt;= #{startTime}
		</if>
		<if test="endTime!=null">
			and startTime &lt;= #{endTime}
		</if>
	</select>

	<select id="queryPullArticlesForAdminInfoSupportServcie04ListPullArticle"
		parameterType="hashmap" resultType="PullArticle">
		select * from pullArticles limit #{offset},#{size}
	</select>
	
	<select id="queryPullArticlesForAdminInfoSupportServcie05ListPullArticle" resultType="PullArticle">
		select * from pullArticles where uuid = #{uuid} and status = 0;
	</select>

	<select id="queryPullArticlesForAdminInfoSupportServcie06ListPullArticle" resultType="PullArticle">
		select * from pullArticles where url = #{url} and status = 0;
	</select>
	
	<select id="queryPullArticlesForPullArticleService01ResultPageBO" resultType="ResultPageBO">
		select * from pullArticles where name in 
		<foreach collection="list" close=")" open="(" separator="," item="item">
			#{item}
		</foreach>
		and (resultContent like CONCAT('%',#{key},'%') or title like CONCAT('%',#{key},'%')) limit #{offset},#{size}
	</select>
	

	<update id="updatePullArticlesForAdminMainSupportService01RetrunId"
		statementType="CALLABLE">
		call pullArticlesp1(#{id},#{name})
	</update>

	<update
		id="updatePullArticlesForAdminMainSupportService01SimplePullArticleBO2">
		update pullArticles where url =
		#{url},uuid=#{uuid},tags=#{tags},title=#{title},resultContent=#{resultContent},pagePath=#{pagePath},jsPath=#{jsPath},
		cssPath =
		#{cssPath},sign=#{sign},updateMan=#{updateMan},updateTime=#{updateTime},mark=#{mark},websiteId
		= #{websiteId}
		where id = #{id} and name = #{name};
	</update>


	<!-- <delete id="deletePullArticlesForAdminMainSupportService01IdName"> 
		delete from pullArticles where id = #{id} and name = #{name} and pullArticles.using 
		!= 1 and status = 0; </delete> -->

	<update id="deletePullArticlesForAdminMainSupportService01IdName">
		update pullArticles set status = -1 where id = #{id}
		and name = #{name} and pullArticles.using != 1 and status = 0;
	</update>

</mapper>
