<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhidian.mapper.PullArticleMapper">

	<insert id="insertArticlesForWormsService02ListPullArticle"
		parameterType="PullArticle">
		insert into
		pullArticles(uuid,title,contents,resultContent,pagePath,cssPath,name,sign,startTime,version,url,cuuid,status)
		values
		<trim suffixOverrides=",">
			<foreach collection="list" index="i" separator="," item="item">
				(#{item.uuid},#{item.title},#{item.contents},#{item.resultContent},#{item.pagePath},#{item.cssPath},#{item.name},#{item.sign},#{item.startTime},#{item.version},#{item.url},#{item.cuuid},#{item.status})
			</foreach>
		</trim>
	</insert>

	<select id="queryPullArticlesForPullArticleService01SimplePullArticle"
		parameterType="string" resultType="PullArticle">
		select * from pullArticles where
		uuid = #{uuid} and pullArticles.using = 1 and pullArticles.status = 0
		group by startTime desc limit 1;
	</select>

	<select id="selectPullArticlesForPullArticleService01MapObject"
		parameterType="string" resultType="hashmap">
		select name,url,uuid from
		pullArticles where
		uuid = #{uuid} and pullArticles.using = 1 and
		pullArticles.status = 0
		group by startTime desc limit 1;
	</select>
	
	<select id="tee" parameterType="hashmap" resultType="string">
		select url from pullArticles where uuid = #{uuid} and name = #{name};
	</select>

</mapper>
