<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhidian.mapper.VersionMapper">

	<select id="queryVersionsForSearchService01SimpleVersion"
		resultType="Version" parameterType="hashmap">
		select
		id,name,type,defCss,defPage,defJs from versions where
		versions.type = #{type}
		and versions.name = #{name} and versions.using
		= 1;
	</select>

	<select id="queryVersionsForPageService01SimpleVersion"
		resultType="Version" parameterType="hashmap">
		select
		id,name,type,defCss,defPage,defJs from versions where
		versions.type = #{type}
		and versions.name = #{name} and versions.using
		= 1;
	</select>

	<select id="queryVersionsForDataInfoAdminService01SimpleVersion" resultType="Version">
		select * from versions as v where name = #{name} and v.using = 1 and type = 'websites';
	</select>

	<select id="selectVersionsForDataInfoAdminService01ListString" resultType="string" parameterType="string">
		select id from versions where name = #{name} and type = 'websites';
	</select>
</mapper>
