<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhidian.mapper.VersionMapper">

	<select id="queryVersionsForSearchService01SimpleVersion"
		resultType="Version" parameterType="hashmap">
		select
		id,name,type,defCss,defPage,defJs from versions where
		versions.type = #{type} and versions.type2 = #{type2}
		and versions.name = #{name} and versions.using
		= 1;
	</select>

	<select id="queryVersionsForPageService01SimpleVersion"
		resultType="Version" parameterType="hashmap">
		select
		id,name,type,defCss,defPage,defJs from versions where
		versions.type = #{type} and versions.type2 = #{type2}
		and versions.name = #{name} and versions.using
		= 1;
	</select>

	<select id="queryVersionsForDataInfoAdminService01SimpleVersion" resultType="Version">
		select * from versions as v where name = #{name} and v.using = 1 and type = 'websites';
	</select>

	<select id="selectVersionsForDataInfoAdminService01ListString" resultType="string" parameterType="string">
		select id from versions where name = #{name} and type = 'websites';
	</select>
	
	
	<select id="queryVersionsForAdminInfoSupportService01ListVersionBO2" resultType="IDNameValueModel">
		select distinct type as name,name as value from versions where type = #{type} and type2 = #{type2} and nmp = 1
	</select>
	
	<select id="queryVersionsForAdminInfoSupportService01ListVersion" parameterType="int" resultType="Version">
		select * from versions where id = #{id};
	</select>
	
	<select id="queryVersionsForAdminInfoSupportService02ListVersion" parameterType="string" resultType="Version">
		select * from versions where name = #{name};
	</select>
	
	<select id="queryVersionsForAdminInfoSupportService03ListVersion" resultType="Version">
		select * from versions where versions.using = 1;
	</select>
	
	<select id = "selectVersionsByIdAndName" resultType="Version">
		select * from versions where id = #{id} and name = #{name} and versions.nmp = 1;
	</select>
	
	<select id="queryVersionsForAdminInfoSupportService01SimpleVersion" resultType="Version">
		select * from versions where id = #{id};		
	</select>
	
	<select id="queryVersionsForAdminSupportService01SimpleVerionBO2" resultType="VersionBO2">
		select * from versions where id = (select versionId from websites where id = #{id} and nmp = 1) and nmp =1;
	</select>
	
	<select id="selectVersionsForAdminInforService01ListString" resultType="int">
		select v.id from versions as v,versions as v2 where v2.id = 
		(select versionId from websites as w where w.id = #{id}) and v.type = v2.type 
		and  v.type2 = v2.type2 and v.name = v2.name and v2.nmp = 1 and v.nmp =1;
	</select>
	
	<insert id="insertVersionsForAdminMainService01SimpleId" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into versions set createTime = CURRENT_TIMESTAMP() , name = #{name}, defPage = #{defPage} , defJs = #{defJs}, 
		defCss = #{defCss},type = #{type}, type2 = #{type2}, sign = #{sign}
	</insert>
	
	<update id="updateVersionsForAdminMainSupportService01SimpleVersion" statementType="CALLABLE">
		call versionsp1(#{id},#{name})
	</update>
	
	<update id="updateVersionsForAdminMainSupportService01ReturnId">
		update versions set versions.nmp = 0 where id = #{id} and  name = #{name} and versions.using != 1;
	</update>
	
	<update id="updateVersionsForAdminMainSupportService02ReturnId">
		update versions set versions.nmp = 1 where id = #{id} and name = #{name} ;
	</update>
	
<!-- 	<select id="selectTest">
		call versionsp1(#{id},#{name});
	</select>
	
	<update id="updateTest">
		call versionsp1(#{id},#{name});
	</update> -->
	
</mapper>