<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhidian.mapper.WormLogMapper">

	<insert id="insertWormsLogForWormsService01ListWormLog"
		parameterType="WormLog">
		insert into
		wormLogs(propertyName,website,xpathContent,url,sign,type,fromType,uuid,triggerTime)
		values
		<trim suffixOverrides=",">
			<foreach collection="list" index="i" separator="," item="item">
				(#{item.propertyName},#{item.website},#{item.xpathContent},#{item.url},#{item.sign},#{item.type},#{item.fromType},#{item.uuid},#{item.triggerTime})
			</foreach>
		</trim>
	</insert>


</mapper>
