<!DOCTYPE HTML>
<html th:if="${Message!=null}">
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
	table td{
		position:relative;
	}
</style>
<title>版本信息修改</title>
</head>
<body>
	<div class="page-container">
		<form class="form form-horizontal" id="form">
			<input type="hidden" name="versionId" th:value="${Message.versionId}"/>
			<table
				class="table table-border table-bordered table-bg mb-15 table-hover">
				<thead>
					<tr>
						<th colspan="6" th:inline="text">版本详情修改【[[${Message.versionId}]]】</th>
					</tr>
				</thead>
				<tbody class="text-c">
					<tr>
						<th>name</th>
						<td th:text="${Message.name}">segmentfault</td>
						<th>是否在用</th>
						<td th:text="${Message.using?'是':'否'}">是</td>
					</tr>
					<tr>
						<th>type</th>
						<td th:text="${Message.type}">内容详情页</td>
						<th>type2</th>
						<td th:text="${Message.type2}">answer</td>
					</tr>
					<tr>
						<th><span class="c-red">*</span>页面地址</th>
						<td th:text="${Message.defPage}">xxfdsfds</td>
						<th><span class="c-red">*</span>是否变更</th>
						<th><span class="select-box"> <select class="select"
								size="1" name="pageChange" id="" autocomplete="off">
									<option value="0" selected="selected">否</option>
									<option value="1">是</option>
							</select>
						</span></th>
					</tr>
					<tr style="display: none">
						<td colspan="4"><span class="btn-upload"> <input
								class="input-text upload-url radius" type="text"
								placeholder=".html文件" readonly="readonly" autocomplete="off" /><a
								href="javascript:void();" class="btn btn-primary radius"><i
									class="Hui-iconfont">&#xe642;</i> 浏览文件</a> <input type="file" id=""
								name="pageFile" class="input-file" autocomolete="off" /></span></td>
					</tr>
					<tr>
						<th><span class="c-red">*</span>Css地址</th>
						<td th:text="${Message.defCss}">xxfdsfds</td>
						<th><span class="c-red">*</span>是否变更</th>
						<th><span class="select-box"> <select class="select"
								size="1" name="" id="" autocomplete="off">
									<option value="0" selected="selected">否</option>
									<option value="1">是</option>
							</select>
						</span></th>
					</tr>
					<tr style="display: none">
						<td colspan="4"><span class="btn-upload"> <input
								class="input-text upload-url radius" type="text"
								placeholder=".css文件" readonly="readonly" autocomplete="off" /><a
								href="javascript:void();" class="btn btn-primary radius"><i
									class="Hui-iconfont">&#xe642;</i> 浏览文件</a> <input type="file" id=""
								name="cssFiles" class="input-file" multiple="multiple"
								autocomolete="off" /></span></td>
					</tr>
					<tr>
						<th><span class="c-red">*</span>Js地址</th>
						<td  th:text="${Message.defJs}">xxfdsfds</td>
						<th><span class="c-red">*</span>是否变更</th>
						<th><span class="select-box"> <select class="select"
								size="1" name="" id="" autocomplete="off">
									<option value="0" selected="selected">否</option>
									<option value="1">是</option>
							</select>
						</span></th>
					</tr>
					<tr style="display:none">
						<td colspan="4"><span class="btn-upload"> <input
								class="input-text upload-url radius" type="text"
								placeholder=".js文件" readonly="readonly" autocomplete="off" /><a
								href="javascript:void();" class="btn btn-primary radius"><i
									class="Hui-iconfont">&#xe642;</i> 浏览文件</a> <input type="file" id=""
								name="jsFiles" class="input-file" multiple="multiple"
								autocomolete="off" /></span></td>
					</tr>
					<tr>
						<th>描述</th>
						<td colspan="4"><textarea class="textarea radius" name="sign" id="sign" autocomplete="off" placeholder="信息的描叙..."  th:text="${Message.sign}"></textarea></td>
					</tr>
				</tbody>
				<tfoot class="text-c">
					<tr>
						<td colspan="4"><button type="submit"
								class="btn btn-primary radius mr-15">
								修改
							</button>
							<button onClick="layer_close();" class="btn btn-default radius"
								type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button></td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>


	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>

	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/messages_zh.js"></script>

	<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
	<script th:inline="javascript" type="text/javascript">
		//<![CDATA[
			$(function() {
				$("#form select").on("change",function(){
					var v = $(this).val();
					if(v==1){
						$(this).parents("tr").next("tr").show();
						$(this).parents("tr").next("tr").find("input").attr("disabled",false);
					}else{
						$(this).parents("tr").next("tr").hide();
						$(this).parents("tr").next("tr").find("input").attr("disabled",true);
					}
				})
				$("#form").validate({
					rules:{
						type:{
							required:true
						},
						name:{
							required:true
						},
						isFirst:{
							required:true
						},
						defPage:{
							required:true
						},
						defCss:{
							required:true
						},
						defJs:{
							required:true
						}
					},
					onkeyup:false,
					focusCleanup:true,
					success:"valid",
					submitHandler:function(form){
						// 判断依赖默认版本是否点击，点击需要选择版本
						layer.confirm('确认修改吗？', {btn: ['确定','放弃'],icon:0},function(){
							$(form).ajaxSubmit({type:"post",url:"version/settings/update",success:function(data){
								if(data&&data.message){
									layer.msg(data.message,{icon:1,time:2000});
									var index = parent.layer.getFrameIndex(window.name);
									parent.layer.close(index);
								}
							},error:function(){
								layer.msg('请求失败',{icon:5,time:1000});
							}})
						});
					}
				});
			});
		//]]>
	</script>
</body>
</html>