<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css"
	href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
@media screen and (min-width:768px) {
	div.modal-dialog {
		width: 80%;
	}
}
table input{
	margin:3px auto;
}
</style>
<title>收录列表</title>
</head>
<body>
	<div class="page-container">
		<div style="min-height: 600px">
			<form action="#" id="searchForm">
				<div class="text-l mt-20 bk-gray pd-5">
					日期范围：<input type="text"
						onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })"
						id="datemin" class="input-text Wdate" style="width: 120px;" name="startTime"/>
					- <input type="text"
						onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })"
						id="datemax" class="input-text Wdate" style="width: 120px;" name="endTime"/>
				</div>
				<div class="text-l mt-5 bk-gray pd-5">
					站点搜索：<span class="select-box mr-10"
						style="max-width: 150px; display: inline-block"> <select
						class="select" id="type" name="type" autocomplete="off">
							<option value="website" selected="selected">站点名称</option>
							<option value="url">URL地址</option>
					</select>
					</span><span id="changeInput" style="position:relative"><input type="text" name="value" id="search_text"
						style="width: 250px" class="input-text"
						placeholder="站点名:segmentfault" autocomplete="off" /></span>
					<button name="" id="search_button" class="btn btn-success"
						type="submit">
						<i class="Hui-iconfont">&#xe665;</i> 搜索
					</button>
				</div>
			</form>
			<table
				class="table table-border table-bordered table-bg mb-15 table-hover" id="table">
				<thead>
					<tr>
						<th colspan="12" scope="col">最近收录列表</th>
					</tr>
					<tr class="text-c">
						<td>序号</td>
						<td>站点名</td>
						<td>标题</td>
						<td>标签</td>
						<td>创建时间</td>
						<td>url</td>
						<td>依赖站点版本</td>
						<td>标识</td>
						<td>访问量</td>
						<td>收藏量</td>
						<td>热度值</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody class="text-c">
					<tr th:each="item : ${Message}" >
						<td th:text="${item.id}">1</td>
						<td th:text="${item.name}">segmentfault</td>
						<td ><abbr title="linux - ubuntu上怎么设置默认python命令是执行python3而不是python2 - SegmentFault" th:title="${item.title}"
							class="text-overflow"
							style="max-width: 150px; display: inline-block" th:text="${item.title}">linux - ubuntu上怎么设置默认python命令是执行python3而不是python2 - SegmentFault</abbr></td>
						<td><abbr title="python,linux" th:title="${item.tags}"
							class="
								text-overflow"
							style="max-width: 100px; display: inline-block" th:text="${item.tags}">python,linux</abbr></td>
						<td th:text="${item.createTime}">2017-4-25 16:44</td>
						<td><abbr title="http://www.baidu.com" th:title="${item.url}"
							class="
								text-overflow"
							style="width: 100px; display: inline-block"><a
								target="_blank"
								href="item.url" th:href="${item.url}" th:text="${item.url}">http://www.baidu.com</a></abbr></td>
						<td th:text="${item.relyVersionId}">0.0.2</td>
						<td th:text="${item.mark}">hot</td>
						<td th:text="${item.views}">23</td>
						<td th:text="${item.collets}">33</td>
						<td th:text="${item.scores}">1.334</td>
						<td><a class="btn btn-success radius" href="admin/pa/" th:href="@{|/admin/pa/${item.uuid}|}" target="_blank">审视</a> 
							<input	class="btn btn-warning radius" type="button" value="服务" th:onclick="|showService(${item.id},'${item.name}')|"  onclick="showService(188,'segmentfault')" /> 
							<input class="btn btn-primary radius" type="button"
							value="详情" th:onclick="|showDetails(${item.id},'${item.name}')|"/> 
							<input	class="btn btn-secondary radius" type="button" value="变更" th:onclick="|updateSettings(${item.id},'${item.name}')|" onclick="updateSettings(188,'segmentfault')" /> 
							<input	class="btn btn-warning radius" type="button" value="设为默认" th:onclick="|setDefault(${item.id},'${item.name}')|" onclick="setDefault(188,'segmentfault')" /> 
							<input class="btn btn-danger radius" type="button"
							value="删除"  th:onclick="|delete_(${item.id},'${item.name}')|" onclick="delete_(198,'segmentfault')"/>
						</td>
					</tr>
				</tbody>
			</table>
			<table
				class="table table-border table-bordered table-bg mb-15 table-hover" id="table1" style="display:none">
				<thead>
					<tr>
						<th colspan="12" scope="col">最近收录列表</th>
					</tr>
					<tr class="text-c">
						<td>序号</td>
						<td>站点名</td>
						<td>标题</td>
						<td>标签</td>
						<td>创建时间</td>
						<td>url</td>
						<td>依赖站点版本</td>
						<td>标识</td>
						<td>访问量</td>
						<td>收藏量</td>
						<td>热度值</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody  class="text-c"  v-if="items!=null">
					<tr v-for="item in items">
						<td >{{item.id}}</td>
						<td >{{item.name}}</td>
						<td ><abbr title="linux - ubuntu上怎么设置默认python命令是执行python3而不是python2 - SegmentFault" 
							v-bind:title="item.title" 
							class="text-overflow"
							style="max-width: 150px; display: inline-block" >{{item.title}}</abbr></td>
						<td><abbr title="python,linux" v-bind:title="item.tags"
							class="
								text-overflow"
							style="max-width: 100px; display: inline-block">{{item.tags}}</abbr></td>
						<td>{{item.createTime}}</td>
						<td><abbr title="http://www.baidu.com"  v-bind:title="item.url" 
							class="
								text-overflow"
							style="width: 100px; display: inline-block"><a
								target="_blank"
								href="item.url" v-bind:href="item.url">{{item.url}}</a></abbr></td>
						<td >{{item.relyVersionId}}</td>
						<td >{{item.mark}}</td>
						<td >{{item.views}}</td>
						<td >{{item.collets}}</td>
						<td >{{item.scores}}</td>
						<td><a class="btn btn-success radius"  v-bind:href="'pa/'+item.uuid" target="_blank">审视</a> 
							<input class="btn btn-warning radius" type="button" value="服务" v-on:click="showService(item.id,item.name)" /> 
							<input class="btn btn-primary radius" type="button"	value="详情" v-on:click="showDetails(item.id,item.name)" /> 
							<input class="btn btn-secondary radius" type="button" value="变更" v-on:click="updateSettings(item.id,item.name)" /> 
							<input class="btn btn-warning radius" type="button" value="设为默认" v-on:click="setDefault(item.id,item.name)" /> 
							<input class="btn btn-danger radius" type="button"
							value="删除"   v-on:click="delete_(item.id,item.name)"/>
						</td>
					</tr>				
				</tbody>
				<tfoot class="text-c" v-if="items==null||items.length==0">
					<tr>
						<th colspan="4">数据为空...</th>
					</tr>
				</tfoot>
			</table>
		</div>
	
		<div id="itemService" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content radius">
					<div class="modal-header">
						<h3 class="modal-title">服务詳情</h3>
						<a class="close" data-dismiss="modal" aria-hidden="true"
							href="javascript:void();">×</a>
					</div>
					<form action="#" id="form">
						<div class="modal-body"><input type="hidden"  name="id" value=""/><input type="hidden" name="name" value=""	/>
							<table class="table table-border table-bordered table-hover"
								id="">
								<thead>
									<tr>
										<th colspan="2">服务：针对同一链接地址</th>
									</tr>
									<tr>
										<th>服务名</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>搜索服务</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="SearchService">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
									<tr>
										<td>在线爬虫服务</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="OnlinePullData">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
									<tr>
										<td>定时爬虫服务</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="SchedulePullData">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
									<tr>
										<td>自定义爬虫服务</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="CustomPullData">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
									<tr>
										<td>直接访问</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="Visit">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
									<tr>
										<td>安全访问</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="SecVisit">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
									<tr>
										<td>站點分析</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="WebsiteAnalysis">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
									<tr>
										<td>排名服務</td>
										<td><span class="select-box"> <select
												class="select" size="1" name="SortService">
													<option value="0">否</option>
													<option value="1" selected="selected">是</option>
											</select>
										</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary"  type="submit">确定</button>
							<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</form>
				</div>
			</div>
		</div>
			
		<div id="itemInfo" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content radius">
					<div class="modal-header">
						<h3 class="modal-title">内容詳情</h3>
						<a class="close" data-dismiss="modal" aria-hidden="true"
							href="javascript:void();">×</a>
					</div>
					<div class="modal-body">
						<table class="table table-border table-bordered table-hover"
							id="table2" v-if="item!=null">
							<tbody class="text-c">
								<tr>
									<th>序号</th>
									<td>{{item.id}}</td>
									<th>站点名</th>
									<td>{{item.name}}</td>
									<th>依赖站点版本</th>
									<td>{{item.relyVersionId}}</td>
								</tr>
								<tr>
									<th>类型</th>
									<td colspan="2">问答</td>
									<th>是否在用</th>
									<td colspan="2">{{item.using?'是':'否'}}</td>
								</tr>
								<tr>
									<th colspan="2">标题</th>
									<td colspan="4">{{item.title}}</td>
								</tr>
								<tr>
									<th colspan="2">结果部分</th>
									<td colspan="4">{{item.resultContent}}</td>
								</tr>
								<tr>
									<th>url</th>
									<td colspan="2">{{item.url}}</td>
									<th>uuid</th>
									<td colspan="2">{{item.uuid}}</td>
								</tr>
								<tr>
									<th>访问量</th>
									<td>{{item.views}}</td>
									<th>收藏量</th>
									<td>{{item.collets}}</td>
									<th>热值</th>
									<td>{{item.scores}}</td>
								</tr>
								<tr>
									<th>创建时间</th>
									<td>{{item.createTime}}</td>
									<th>标签</th>
									<td>{{item.tags}}</td>
									<th>标识</th>
									<td>{{item.mark}}</td>
								</tr>
								<tr>
									<th colspan="2">最近更新时间</th>
									<td>{{item.updateTime}}</td>
									<th colspan="2">最新更新人</th>
									<td>{{item.updateMan}}</td>
								</tr>
								<tr>
									<th colspan="2">页面地址</th>
									<td colspan="4">{{item.pagePath?item.pagePath:'默认站点地址'}}</td>
								</tr>
								<tr>
									<th colspan="2">Css地址</th>
									<td colspan="4">{{item.cssPath?item.cssPath:'默认站点地址'}}</td>
								</tr>
								<tr>
									<th colspan="2">Js地址</th>
									<td colspan="4">{{item.jsPath?item.jsPath:'默认站点地址'}}</td>
								</tr>
								<tr>
									<th colspan="2">描叙</th>
									<td colspan="4">{{item.sign?item.sign:'无'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" data-dismiss="modal"
							aria-hidden="true">确定</button>
						<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="itemUpdate" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content radius">
					<div class="modal-header">
						<h3 class="modal-title">版本内容詳情</h3>
						<a class="close" data-dismiss="modal" aria-hidden="true"
							href="javascript:void();">×</a>
					</div>
					<form action="#" id="updateForm">
						<div class="modal-body">
							<table class="table table-border table-bordered table-hover"
									id="table3" v-if="item!=null">
								<tbody class="text-c">
									<tr>
										<th>序号</th>
										<td>{{item.id}}</td>
										<th>站点名</th>
										<td>{{item.name}}</td>
										<th><span class="c-red">*</span>依赖站点版本</th>
										<td><span class="select-box"> <select
													class="select" size="1" name="websiteId" v-model="item.relyVersionId" v-on:change="change">
														<option value="0.0.1" v-for="i in item_">{{i}}</option>
												</select>
											</span></td>
										<th>标识</th>
										<td><span class="select-box"> <select
													class="select" size="1" name="mark" v-model="item.mark">
														<option value="" selected="selected">可选择</option>
														<option value="hot">hot</option>
														<option value="views" >views</option>
												</select><input type="hidden" name="id" v-bind:value="item.id"/><input type="hidden" name="name" v-bind:value="item.name"/>
											</span></td>
									</tr>
									<tr>
										<th colspan="2"><span class="c-red">*</span>标题</th>
										<td colspan="6"><input type='text' name='title'  class='input-text' placeholder='标题' autocomplete='off'  value="" v-bind:value="item.title"/></td>
									</tr>
									<tr>
										<th colspan="2"><span class="c-red">*</span>结果部分</th>
										<td colspan="6"><input type='text' name='resultContent'  class='input-text' placeholder='搜索结果展示部分' autocomplete='off'  value="" v-bind:value="item.resultContent"/></td>
									</tr>
									<tr>
										<th colspan="2"><span class="c-red">*</span>url</th>
										<td colspan="6"><input type='text' name='url'  class='input-text' placeholder='源地址' autocomplete='off'  value="" v-bind:value="item.url"/></td>
									</tr>
									<tr>
										<th colspan="2">标签</th>
										<td colspan="6"><input type='text' name='tags' class='input-text' placeholder="标签,以','分割" autocomplete='off'  value="" v-bind:value="item.tags"/></td>
									</tr>
									<tr>
										<th colspan="2">页面地址</th>
										<td colspan="6"><input type='text' name='pagePath' class='input-text' placeholder='使用的版本地址,提供手动方式' autocomplete='off'  value="" v-bind:value="item.pagePath"/></td>
									</tr>
									<tr>
										<th colspan="2">Css地址</th>
										<td colspan="6"><input type='text' name='cssPath'  class='input-text' placeholder='css地址' autocomplete='off'  value="" v-bind:value="item.cssPath"/></td>
									</tr>
									<tr>
										<th colspan="2">Js地址</th>
										<td colspan="6"><input type='text' name='jsPath'  class='input-text' placeholder='js地址' autocomplete='off'  value="" v-bind:value="item.jsPath"/></td>
									</tr>
									<tr>
										<th colspan="2">描叙</th>
										<td colspan="6"><textarea  class="textarea radius" name="sign" autocomplete="off" placeholder="信息的描叙..." v-model="item.sign"></textarea></td>
									</tr>
								</tbody>
							</table>
							<table id="table4" style="display:none"
								class="table table-border table-bordered table-hover mt-20 mb-20" v-if="item!=null">
								<thead class="text-c">
									<tr>
										<th colspan="6">站点基本信息</th>
									</tr>
								</thead>
								<tbody class="text-c">
									<tr>
										<th>站点</th>
										<th colspan="2">{{item.name}}</th>
										<th>版本号</th>
										<th colspan="2">{{item.websiteId}</th>
									</tr>
									<tr>
										<th>搜索地址</th>
										<td colspan="5">{{item.searchAddr?item.searchAddr:'未设置'}}</td>
									</tr>
									<tr>
										<th>分頁符</th>
										<td colspan="2">{{item.pagination?item.pagination:'未设置'}}</td>
										<th>使用后缀</th>
										<td colspan="2">{{item.useSearch?'是':'否'}}</td>
									</tr>
									<tr>
										<th>详情页处理器</th>
										<td colspan="5">{{item.pageProcessor?item.pageProcessor:'未设置'}}</td>
									</tr>
									<tr>
										<th>详情页接收器</th>
										<td colspan="5">{{item.pagePipeline?item.pagePipeline:'未设置'}}</td>
									</tr>
									<tr>
										<th>详情页接收对象</th>
										<td colspan="5">{{item.resultRObject?item.resultRObject:'未设置'}}</td>
									</tr>
									<tr>
										<th>结果页处理器</th>
										<td colspan="5">{{item.resultProcessor?item.resultProcessor:'未设置'}}</td>
									</tr>
									<tr>
										<th>結果頁接受器</th>
										<td colspan="5">{{item.resultPipeline?item.resultPipeline:'未设置'}}</td>
									</tr>
									<tr>
										<th>結果頁接收对象</th>
										<td colspan="5">{{item.resultRObject?item.resultRObject:'未设置'}}</td>
									</tr>
									<tr>
										<th>详情页Css</th>
										<td colspan="5">{{item.defPageCss?item.defPageCss:'未设置'}}</td>
									</tr>
									<tr>
										<th>Css采集规则</th>
										<td colspan="5">{{item.defaultPageCss?item.defaultPageCss:'未设置'}}</td>
									</tr>
									<tr>
										<th>详情页采集配置</th>
										<td colspan="5">{{item.defPageConfig?item.defPageConfig:'未设置'}}</td>
									</tr>
									<tr>
										<th>结果页采集配置</th>
										<td colspan="5">{{item.defResultConfig?item.defResultConfig:'未设置'}}</td>
									</tr>
									<tr>
										<th>自定义请求头</th>
										<td colspan="5">{{item.defRequestHeader?item.defRequestHeader:'未设置'}}</td>
									</tr>
									<tr>
										<th>描述</th>
										<td colspan="5">{{item.sign?item.sign:'未设置'}}</td>
									</tr>
								</tbody>
							</table>
							<table id="table5"  style="display:none"
								class="table table-border table-bordered table-hover mt-20 mb-20" v-if="item!=null">
								<thead class="text-c">
									<tr>
										<th colspan="4">站点所对应的默认版本</th>
									</tr>
								</thead>
								<tbody class="text-c">
									<tr>
										<th>站点名</th>
										<td>{{item.name}}</td>
										<th>版本号</th>
										<td>{{item.versionId}}</td>
									</tr>
									<tr>
										<th>页面地址</th>
										<td colspan="3">{{item.defPage?item.defPage:'未设置'}}</td>
									</tr>
									<tr>
										<th>Css地址</th>
										<td colspan="3">{{item.defCss?item.defCss:'未设置'}}</td>
									</tr>
									<tr>
										<th>Js地址</th>
										<td colspan="3">{{item.defJs?item.defJs:'未设置'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="submit">确定</button>
							<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>

	<script type="text/javascript"
		src="lib/My97DatePicker/4.8/WdatePicker.js"></script>

	<script type="text/javascript" src="js/vue.min.js"></script>		
	<script type="text/javascript">
		//<![CDATA[
		var vm1 = new Vue({
			el:"#table1",
			data:{
				items:null
			},
			methods:{
				showService:function(id,name){
					showService(id,name);
				},
				showDetails:function(id,name){
					showDetails(id,name);
				},
				updateSettings:function(id,name){
					updateSettings(id,name);
				},
				setDefault:function(id,name){
					setDefault(id,name);
				},
				delete_:function(id,name){
					delete_(id,name);
				}
			}
		});
		
		var vm3 = new Vue({
			el:"#table3",// 待解决：下拉列表默认值，事件监听
			data:{
				item:null,
				item_:null
			},
			methods:{
				change:function(){
					// 只要改变就可以加载table4,table5的数据了
					if(item){
						change(item.id,item.name);
					}
				}
			}
		});
		
		var vm4 = new Vue({
			el:"#table4",
			data:{
				item:null
			}
		});
		
		var vm5 = new Vue({
			el:"#table5",
			data:{
				item:null
			}
		});
		
		var vm2 = new Vue({
			el:"#table2",
			data:{
				item:null
			}
		})
		//]]>
	</script>
	<script type="text/javascript">
		//<![CDATA[
		var change = function(){
			var websiteId = $("#table3").find("select[name='websiteId']").val();			
			$.post("website/info/getWebsiteAndVersionInfo",{websiteId:websiteId}).done(function(){
				if(data){
					$("#table4").show();
					$("#table5").show();
					vm4.item = data.item;
					vm5.item = data.item_;
				}
			}).fail(function(){
				layer.msg('请求失败!', {
				    time: 1000, icon: 5
				  });	
			})
		}
			
		var setDefault = function(id,name){
			if(id&&name){
				layer.confirm('设置默认将只有一条相同数据使用!', {
					btn : [ '确定', '放弃' ],
					icon : 0
				}, function() {
					$.post("website/settings/setDefault",{id:id,name:name}).done(function(data){
						if(data){
							if (data.message) {
								layer.msg(data.message, {
									time : 1000,
									icon : 6
								});
							} else {
								layer.msg('操作成功!', {
									time : 1000,
									icon : 1
								});
							}
						}
					}).fail(function(){
						layer.msg('请求失败!', {
						    time: 1000, icon: 5
						  });
					})
				});
			}else{
				layer.msg("参数有误!", {
					icon : 2,
					time : 1500
				});
			}
		}
	
		var updateSettings = function(id,name){
			if (id && name) {
				// 请求参数
				$.get("website/info/getItemInfo2",{id:id,name:name}).done(function(data){
					if(data){
						// 填充数据
						if(data.item){
							vm3.item=data.item;
							vm3.item_=data.item_;
						}
						$("#itemUpdate").modal("show");
					}
				}).fail(function(){
					layer.msg('请求失败!', {
					    time: 1000, icon: 5
					  });
				});
	 		} else {
				layer.msg("参数有误!", {
					icon : 2,
					time : 1500
				});
			}	
		}
	
		var showDetails  = function(id,name){
			if (id && name) {
				// 请求参数
				$.get("website/info/getItemInfo",{id:id,name:name}).done(function(data){
					if(data){
						// 填充数据
						if(data.item){
							vm2.item = data.item;
							$("#itemInfo").modal("show");
						}
					}
				}).fail(function(){
					layer.msg('请求失败!', {
					    time: 1000, icon: 5
					  });
				});
	 		} else {
				layer.msg("参数有误!", {
					icon : 2,
					time : 1500
				});
			}				
		}
	 	var showService = function(id,name){
	 		if (id && name) {
				$.get("website/info/getItemService",{id:id,name:name}).done(function(data){
					if(data&&data.items){
						var $form = $("#form");
						$.each(data.items,function(i,v){
							if(v&&v.using==false){
								var $l = $form.find("select[name='"+v.name+"']").children("option");
								$.each($l,function(z,q){
									var v = $(q).val();
									if(v==0){
										$(q).attr("selected",true);
									}
								})
							}
						})
					}
					$("#form").find("input[name='id']").val(id);
					$("#form").find("input[name='name']").val(name);
	 				$("#itemService").modal("show");
				}).fail(function(){
					layer.msg('请求失败!', {
					    time: 1000, icon: 5
					  });
				});
	 		} else {
				layer.msg("参数有误!", {
					icon : 2,
					time : 1500
				});
			}
	 	}
	 	var delete_ = function(id,name){
			if (id && name) {
		 		//$("#scheduleUpdate").modal("show");
				layer.confirm('删除后数据将无法恢复，确认继续吗？', {
					btn : [ '确定', '放弃' ],
					icon : 0
				}, function() {
					$.post("website/settings/deleteItem",{id:id,name:name}).done(function(data){
						if(data){
							if(data.message){
								layer.msg(data.message, {
									time : 1000,
									icon : 6
								});
							}else{
								layer.msg('操作成功!', {
									time : 1000,
									icon : 1
								});
							}
						}
					}).fail(function(){
						layer.msg('请求失败!', {
						    time: 1000, icon: 5
						  });
					});
				});
	 		} else {
				layer.msg("参数有误!", {
					icon : 2,
					time : 1500
				});
			}	 		
	 	}
	 	//]]>
	</script>
	<script type="text/javascript">
		//<![CDATA[
		$(function(){
			$("#searchForm").on("input","input#search_text",function(){
				var v = $(this).val();
				if(!v){
					$("#table").show();
					$("#table1").hide();
				}
			})
			$("select#type").on("change",function(){
				var value = $(this).val();
				if(value == 'url'){
					$("span#changeInput input").attr("placeholder","url地址");
				}else if(value == 'website'){
					$("span#changeInput input").attr("placeholder","站点名:segmentfault");
				}
			});
		})
		//]]>
	</script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript"
		src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
	//<![CDATA[
	$(function(){
		$("#searchForm").validate({
			rules:{
				value:{
					required:true
				},
				type:{
					required:true
				}
			},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler:function(form){
				$(form).ajaxSubmit({
					url:"website/info/pa/search",
					type:"get",
					success:function(data){
						$("#table").hide();
						$("#table1").show();
						if(data&&data.items){
							vm1.items = data.items;
						}
					},
					error:function(){
						layer.msg('请求失败!', {
							time : 1000,
							icon : 5
						});
					}
				})
			}
		});
		$("#updateForm").validate({
			rules : {
				websiteId : {
					required : true,
				},
				title:{
					required : true
				},
				resultContent:{
					required : true
				},
				url : {
					required : true,
					url:true
				}
			},
			onkeyup : false,
			focusCleanup : true,
			success : "valid",
			submitHandler : function(form) {
				// 判断依赖默认版本是否点击，点击需要选择版本
				layer.confirm('确认修改吗？', {
					btn : [ '确定', '放弃' ],
					icon : 0
				}, function() {
					$(form).ajaxSubmit({
						url : "website/settings/updateItemInfo",
						type : "post",
						success : function(data) {
							if (data.message) {
								layer.msg(data.message, {
									time : 1000,
									icon : 6
								});
							} else {
								layer.msg('修改成功!', {
									time : 1000,
									icon : 1
								});
							}
							$("#itemUpdate").modal("hide");
						},
						error : function() {
							layer.msg('请求失败', {
								icon : 5,
								time : 1000
							});
						}
					});
				})
			}
		});
		$("#form").validate({
			rules : {
				name:{
					required : true
				},
				id:{
					required : true
				},
				SearchService : {
					required : true,
				},
				OnlinePullData:{
					required : true
				},
				SchedulePullData:{
					required : true
				},
				CustomPullData:{
					required : true
				},
				Visit:{
					required: true
				},
				SecVisit : {
					required : true
				},
				WebsiteAnalysis : {
					required : true
				},
				SortService : {
					required : true
				}
			},
			onkeyup : false,
			focusCleanup : true,
			success : "valid",
			submitHandler : function(form) {
				// 判断依赖默认版本是否点击，点击需要选择版本
				layer.confirm('确认修改吗？', {
					btn : [ '确定', '放弃' ],
					icon : 0
				}, function() {
					$(form).ajaxSubmit({
						url : "website/settings/updateItemService",
						type : "post",
						success : function(data) {
							if(data){
								if (data.message) {
									layer.msg(data.message, {
										time : 1000,
										icon : 6
									});
								} else {
									layer.msg('修改成功!', {
										time : 1000,
										icon : 1
									});
								}
								$("#itemService").modal("hide");
							}
						},
						error : function() {
							layer.msg('请求失败', {
								icon : 5,
								time : 1000
							});
						}
					});
				})
			}
		});
	})
	//]]>
	</script>		
	
	<script type="text/javascript">
			//<![CDATA[
			var openPage = function(title,url){
				var index = layer.open({
					type : 2,
					title : title,
					content : url
				});
				layer.full(index);
			}
			//]]>
		</script>
</body>
</html>